/*
 * 
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FIRST 1

/ {
    keymap {
        compatible = "zmk,keymap";
        label = "taigamepad4";

        default_layer {
            label = "Default";
            bindings = <
&sl 0  &kp LSHFT       &kp UP_ARROW    &kp RET
&sl 1  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp SPACE
            >;
        };


        first_layer {
            label = "First";
            bindings = <
&sl 0  &kp LS(X)   &kp UP_ARROW &kp  DOWN_ARROW
&sl 1  &kp LS(X)   &kp LS(C)    &kp  LS(V)   &kp SPACE
            >;
        };


        second_layer {
            label = "Second";
            bindings = <
&sl 0      &kp LSHIFT  &kp RET  &kp C_PREV
&sl 1  &trans      &trans   &kp SPACE   &kp C_MUTE
            >;
        };

        third_layer {
            label = "Third";
            bindings = <
&bootloader  &none  &none  &none
&none        &none  &none  &none  &none
            >;
        };
    };
};
