/*
 * 
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FIRST 1

/ {
    combos {
        compatible = "zmk,combos";
        combo_layer3 {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&sl 3>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";
        label = "taigamepad4";

        default_layer {
            label = "Default";
            bindings = <
&sl 0  &kp SPACE  &kp C_PREV  &kp  C_NEXT
&sl 1  &kp C_MUTE   &kp C_VOL_DN   &kp C_VOL_UP   &kp C_PLAY_PAUSE
            >;
        };


        first_layer {
            label = "First";
            bindings = <
&sl 0  &kp LS(X)   &kp UP_ARROW &kp  DOWN_ARROW
&sl 1  &kp LS(X)   &kp LS(C)    &kp  LS(V)   &kp SPACE
            >;
        };


        second_layer {
            label = "Second";
            bindings = <
&sl 0  &kp LSHFT       &kp UP_ARROW    &kp RET
&sl 1  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp SPACE
            >;
        };
    };
};
